---
import MyCompetences from "../components/MyCompetences.astro";
import MySocialsLinks from "../components/MySocialsLinks.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
import MyJourney from "../components/MyJourney.astro";
---

<Layout title="Clément Touzet - Portfolio">
  <main class="mx-auto max-w-4xl md:mt-24 mt-12">
    <!-- hero section -->
    <HeroSection />

    <!-- Mes Liens -->
    <MySocialsLinks />

    <!-- Mes Compétences -->
    <MyCompetences />

    <!-- Mes projets -->
    <!-- <MyProjects /> -->

    <!-- Mes diplômes -->
    <MyJourney />

    <!-- Footer -->
    <Footer />
  </main>
</Layout>
