---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div
  class="relative select-none items-center whitespace-nowrap rounded-lg py-1.5 px-3 font-sans text-xs font-semibold uppercase w-fit text-white bg-gradient-to-br from-black to-blue-800"
>
  <span>{text}</span>
</div>
