<div class="grid md:grid-cols-2 gap-8 items-center mx-4 md:mx-12">
  <!-- présentation -->
  <div>
    <h1
      class="md:text-7xl text-5xl font-black bg-gradient-to-br from-black to-blue-800 inline-block text-transparent bg-clip-text"
    >
      Clément <br /> Touzet
    </h1>
    <h2 class="max-w-md md:text-lg mt-4">
      Développeur web3 - Je programme des contrats intelligents sur la
      blockchain Ethereum.
    </h2>
  </div>
  <!-- image -->
  <div class="w-full md:w-fit flex items-center justify-center">
    <div class="h-48 w-48">
      <img
        src="photo_profil.jpg"
        class="rounded-full"
        alt="photo de profil de Clément Touezt"
      />
    </div>
  </div>
</div>
