---
import Chip from "./Chip.astro";
---

<div class="md:m-12 m-4 mt-12">
  <h3 class="md:text-3xl text-2xl font-bold text-black mb-4">
    Mes Compétences en programmation
  </h3>
  <div class="flex gap-2 flex-wrap md:mx-8 mx-4">
    <!-- faire des chips de mes skills + logo -->
    <Chip text="HTML/CSS" />
    <Chip text="JavaScript" />
    <Chip text="React" />
    <Chip text="Next.js" />
  </div>
</div>
