<div class="md:m-12 m-4 mt-12">
  <h3 class="md:text-3xl text-2xl font-bold text-black mb-2">Mon parcours</h3>
  <div class="md:m-8 m-4">
    <div class="mb-4">
      <p class="font-bold">2023 à Aujourd'hui</p><p>
        Auto-entreprenariat : Création de tutoriel vidéo React sur Youtube et coaching en ligne
      </p>
    </div>
    <div class="mb-4">
      <p class="font-bold">2022 à 2023</p><p>
        Licence Profesionnelle Programmation Avancée - l'IUT de Bayonne et du
        Pays Basque
      </p>
    </div>
    <div class="mb-4">
      <p class="font-bold">Décembre 2022</p><p>
        Formation en ligne "BlockchainExpert". <a
          class="underline"
          target="_blank"
          href="https://certificate.algoexpert.io/BCE-9132d06cd4">Certificat</a
        >
      </p>
    </div>
    <div class="mb-4">
      <p class="font-bold">2020 à 2022</p><p>
        DUT Informatique - IUT de Bayonne et du Pays Basque
      </p>
    </div>

    <div class="mb-4">
      <p class="font-bold">2017 à 2020</p><p>Bac S - Lycée René Cassin - Bayonne</p>
    </div>
  </div>
</div>
