---
import Card from "./Card.astro";
import ProgrammingStackLogo from "./ProgrammingStackLogo.astro";
---

<!-- Mes projets -->
<div class="md:m-12 m-4 mt-12">
  <h3 class="md:text-3xl text-2xl font-bold text-black mb-4">Mes Projets</h3>
  <div class="grid md:grid-cols-2 gap-8 md:m-8 m-4">
    <Card
      title="Funnels Navigator (en cours)"
      demoHref="https://funnelsnavigator.com"
      codeHref=""
      body="SaaS permettant aux utilisateurs de créer des tunnels de ventes dans le but de générer des revenus en ligne"
    >
      <ProgrammingStackLogo>
        <img
          src="nextjs-logo.png"
          alt="logo de Next js"
          class="h-8 w-fit rounded-full"
        />
        <img
          src="typescript-logo.png"
          alt="logo de typescript "
          class="h-8 w-fit"
        />
        <img
          src="postgresql.png"
          alt="logo de typescript "
          class="h-8 w-fit"
        />
      </ProgrammingStackLogo>
    </Card>
    <Card
      title="StatiGames - application web de gestion de collection de jeux"
      demoHref="https://youtu.be/vQS3OpOxXVc"
      codeHref="https://github.com/clement-touzet/express-js-first-project"
      body="Application web fullstack pour gérer et noter sa collection de jeux avec tri, recherche et un espace pour parcourir les titres populaires."
    >
      <ProgrammingStackLogo>
        <img
          src="react.png"
          alt="logo de Next js"
          class="h-8 w-fit rounded-full"
        />
        <img
          src="expressjs.png"
          alt="logo de typescript "
          class="h-8 w-fit"
        />
      </ProgrammingStackLogo>
    </Card>
    
    <!-- <Card
      title="Refonte du site féerie sucrée"
      demoHref="https://feerie-sucree-remake.vercel.app/"
      codeHref="https://github.com/clement-touzet/feerie-sucree-remake"
      body="Féerie sucrée est l'entreprise de ma mère. L'objectif de se projet était de faire son site pour qu'il soit plus moderne que son site actuel. Ce n'est pas la version finale, le site n'est pas encore terminé."
    >
      <ProgrammingStackLogo>
        <img src="svelte-logo.png" alt="logo de svelte " class="h-8 w-fit" />
        <img
          src="skeleton-ui-logo.png"
          alt="logo de skeleton ui"
          class="h-8 w-fit rounded-full"
        />
      </ProgrammingStackLogo>
    </Card> -->
  </div>
</div>
