<div class="md:m-24 m-4 mt-12">
  <div class="flex flex-wrap items-center gap-8 justify-center">
    <a href="https://github.com/clement-touzet" target="_blank">
      <img
        alt="github logo"
        class="h-12 object-cover cursor-pointer"
        src="github-logo.png"
      /></a
    >
    <a href="https://www.linkedin.com/in/clement-touzet/" target="_blank">
      <img
        alt="linkedin logo"
        class="h-12 object-cover cursor-pointer"
        src="linkedin-logo.png"
      /></a
    >
    <a href="https://www.youtube.com/@clement-touzet" target="_blank"
      ><img
        alt="youtube logo"
        class="h-12 object-cover cursor-pointer"
        src="youtube-logo.png"
      /></a
    >
  </div>
</div>
